
*{
    background-color: #9f9f9f;
}

.container{
    width: 98vw;
    font-family: sans-serif;
}
.left{
    float: left;
    display: flex;
    flex-direction: column;
    /* justify-content: center;     */
    align-items: center;
    margin-top: 10%;
    width: 49vw;
}

.image{
    border-radius: 73PX;
    width: 32vw;
    height: auto;
}

.right{
    margin-top: 5%;
    float: right;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 49vw;
    /* padding: 0% 2%; */
}

.download{
    padding: 5%;
    /* background-color: red; */
}
a{
    color: whitesmoke;
    text-decoration: none;
}

.download a button{
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

ul{
    padding:0% 5%;}

.cont li{
    text-align: center;
    /* margin-top: 40px; */
    display: inline-table;
    width: 23%;
}

.cont li img{
    width: 116px;
    height: 140px;
    border-radius: 50%;
}

button{
    background-color: transparent;
    color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

button p{
    background-color: black;
}

@media screen and (max-width: 900px) {

    /* *{
        background-color: red;
    } */
    
    .container{
        text-align: center;
    }

    .image{
        width: 46vw;
        height: 58vh;
    }

    marquee{
        height: 40%;
    }
    }
    @media screen and (max-width:800px) {
        
/* *{
    background-color: blueviolet;
} */

.container{
    display: flex;
flex-direction: column;
    text-align: center;
}

.left{
width: 100vw;
}

.right{
    margin-top: 0%;
    float: none;
    width: auto ;
}

.image{
    width: 79vw;
    margin-bottom: 40px;
}
ul{
    text-align: initial;
    padding: 0% 12%;
}

    }
